<% @page_title = "#{@collection.title} - #{application_name}" %>
<br/>

<%= render 'meta' %>

<%= render 'catalog/navbar' %>

<h1 class="lower"><%= @collection.title %></h1>

<div class="col-md-3 col-xs-12">
  <% if @collection.representative.present? %>
    <%= image_tag "/image-service/#{@collection.representative}/full/full/0/native.jpg", style: "width:100%" %>
  <% end %>
</div>
<div class="col-md-9 col-xs-12">
  <h3><%=@collection.description%> </h3>
</div>

<% unless has_collection_search_parameters? %>
  <%= render partial: 'collections/show_actions' %>
  <%= render 'attributes', curation_concern: @collection %>
<% end %>

<%= render partial: 'search_form'%>
<%= render 'sort_and_per_page' %>

<% if has_collection_search_parameters? %>
  <h2>Search Results within this Collection</h2>
<% else %>
  <h2>Items in this Collection</h2>
<% end %>
<%= render_document_index @member_docs %>

<%= render partial: 'paginate' %>
